@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Merriweather+Sans:ital,wght@1,700&family=Permanent+Marker&display=swap');
		
.logo-font {font-family: 'Merriweather Sans', san-serif; width:255px; }
.cursive {font-family: 'Cedarville Cursive', cursive; color:#F65858; font-size:180%; }
.permanent-marker {font-family: 'Permanent Marker', cursive; color:#1B140E;}

a.btn-primary, a.btn-primary:hover, a.btn-primary:active, a.btn-primary:visited {
    background-color: #00A2C7 !important; color:#fff !important
}


a {color:#00A2C7 !important}

.mt-3 {
  margin-top: 3rem!important;
}

.footnotes {
  font-size: smaller;
}

ul.nav li a, ul.nav li a:visited {
    color: #1CB2D3 !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #019CBF !important;
}

ul.nav li.active a {
    color: #02A3C8 !important;
}
