@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Merriweather+Sans:ital,wght@1,700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
		
.logo-font {font-family: 'Merriweather Sans', san-serif; width:255px; }
.cursive {font-family: 'Cedarville Cursive', cursive; color:#F65858; font-size:180%; }
.permanent-marker {font-family: 'Permanent Marker', cursive; color:#1B140E;}

a.btn-primary, a.btn-primary:hover, a.btn-primary:active, a.btn-primary:visited {
    background-color: #00A2C7 !important; color:#fff !important;
	border-color:#00A2C7;
}

a.btn-info, a.btn-info:hover, a.btn-info:active, a.btn-info:visited {
	color:#fff !important;
}
h3 a, h4 a, h5 a {color:#00A2C7 !important}
h3 a:hover, h4 a:hover, h5 a:hover {color:#5C9DAD !important}

a.cursive:hover {color:#D15751 !important}

.mt-3 {
  margin-top: 3rem!important;
}

.footnotes {
  font-size: smaller;
}

ul.nav li a, ul.nav li a:visited {
    color: #1CB2D3 !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #019CBF !important;
}

ul.nav li.active a {
    color: #02A3C8 !important;
}

footer {
	font-size:90%;
}

footer a {
	color:#B6AEA0;
}

footer a:hover { color:#9D9380 }
